@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/**
 * @Override 
 **/
@layer base {
* {
    outline: none;
}

body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.5;
    @apply text-gray-800;
    text-transform: none;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    @apply text-blue-600;
    text-decoration: none;
}
}
